body
{
	font-family: Helvetica;
	text-shadow: 1px 1px 2px #eeeeee;
	color: #333333;
}

h1
{
	font-size: 2.5pc;
	font-family:Helvetica;
	text-shadow: 1px 1px #cccccc;
	color: #2295cc;
}

h2
{
	font-size: 2pc;
	font-family:Helvetica;
	text-shadow: 1px 1px #cccccc;
	color: #ff7b00;
}

button, a.external
{
	opacity: 0.0;
	background-color: #ffffff;
	color: #333333;
	
	padding: 2px 6px 2px 6px;
	margin: 2px 4px 2px 4px;
	font-size: .8pc;
	
	border-width: 2px;
	border-style: outset;
	border-color: #f0f0f0 #00d4ff #e5e5e5 #ff7b00;
	border-radius:4px;
	-moz-border-radius:5px;
}

a:link
{
	text-decoration:none;
}

a:visited
{
	text-decoration:none;
}
a:hover
{
	text-decoration:none;
	border-color: #ff7b00 #00d4ff #00d4ff #ff7b00;
}
a:active
{
	text-decoration:none;
}

button:hover
{
	cursor:pointer;
	border-color: #ff7b00 #00d4ff #00d4ff #ff7b00;
}

canvas
{
	display: block;
	margin: 7px auto 10px auto;
}


#vertical_centerer
{
	float: center;
	height: 50%;
	margin-bottom: -40px;
}
#horizontal_centerer
{	
	text-align: center;
	float: center;
}

#title
{
	opacity: 0.0;
	color: #2295cc;
	font-size: 3pc;
	margin: auto auto auto auto;
	font-weight: bold;
}

div.button_container
{
	font-size: 14px;
	text-align: center;
	padding: auto auto auto auto;
}

div.content
{
	display: none;
	padding: 10px 10px 10px 10px;
}

div.project
{
	display: none;
}

div.image_text
{
	font-size: 12px;
	margin: 5px auto 5px auto;
}

div.image
{
	display: block;
	text-align: center;
	width: auto;
	height: auto;
}

div.video
{
	display:block;
	text-align: center;
}

#top_content_container
{
	float: center;
	text-align: left;
	display: none;
	width: 650px;
	
	margin: auto;
	
	
	border-left-style: ridge;
	border-right-style: ridge;
	border-left-color: #ff7b00;
	border-right-color: #00d4ff;
	border-radius:18px;
	-moz-border-radius:25px;
}

#default_project_text
{
	display: block;
}