#projects
{
	text-align: center;
	float: center;
}

.project
{
	margin: 4px;
}

.image_text 
{
	font-size: .8em;
	
	padding: 10px;
}

.image_and_text
{
	border-left-style: ridge;
	border-right-style: ridge;
	border-color: #ffffff;
	border-radius: 8px;
	-moz-border-radius: 18px;
}

.image
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.code_snipppet
{
	font: "Lucidia Console", monospace;
	color: #000000;
	background-color: #aaaabb; 
	border-radius: 8px;
	-moz-border-radius: 18px;
}